__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.db
.env
.venv
venv/
env/
.python-version
.pytest_cache/
.ruff_cache/
.mypy_cache/
.eggs/
*.egg-info/
.build/
dist/
.git
.gitignore
.vscode/
.idea/
*.swp
Dockerfile
